*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

}

.draggable {
  background-color: #fbff05;
  color: black;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  font-size: 17px;
  position: absolute;
  bottom: 22vh;
  left: 25px;
  z-index: 2;
}

/**
  timer styles
**/
.timer-container {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container .timer-content {
  padding: 20px 30px;
  text-align: center;
  border-radius: 8px;
  background: white;
}

.timer-container .timer-content #timer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/**
   end of timer styles
**/

.svg-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 18px;
  background: transparent;
  justify-content: center;
  align-items: center;
}


.drop-location {
  width: 600px;
  min-width: 300px;
  height: 600px;
}


/*
  country representing colors styling
*/
.bg-color {
  width: 100%;
  height: 33.3vh;
}

.bg-white{
  background-color: white;
}

.bg-green {
  background-color: #04d304;
}

/*
  end of country representing colors styling
*/


#countdown{
    padding: 10px 5px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
} 


/*
  scores styling
*/
.scores {
  position: absolute;
  top: 63px;
  left: 8px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.scores .score {
  box-shadow: .5px .5px 43px -6px #98f998;
  border-radius: 6px;
  color: black;
  line-height: 27px;
  padding: 3px;
}

.scores .score p {
  font-size: 15px;
  color: #0000008c;
}

.scores .score span {
  font-weight: 600;
}

/*
  end of scores styling
*/


/*
  target and level styling
*/
.target-lvl {
  position: absolute;
  top: 63px;
  right: 12px;
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.target-lvl .t-l {
  box-shadow: .5px .5px 43px -6px #98f998;
  border-radius: 6px;
  color: black;
  line-height: 27px;
  padding: 3px 8px;
}

.target-lvl .t-l p {
  font-size: 15px;
  color: #0000008c;
}

.target-lvl .t-l span {
  font-weight: 600;
}

/*
  end of target and level styling
*/


/* startup window popup  */
.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #581770;
}

.popup .game-name {
  color: #44ea44;
  margin-bottom: 16px;
}


.popup .popup-nav {
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.popup .popup-nav .section {
  box-shadow: .2px .2px 10px -2px #98f998;
  margin: 0px 18px;
  text-align: center;
  border-radius: 6px;
  line-height: 27px;
  padding: 8px;
  min-width: 80px;

  transition: .3s ease-in;
}

.popup .popup-nav .section:hover {
  box-shadow: .2px .2px 20px -2px #98f998;
}

.popup .popup-nav .section p {
  color: #fbff05; 
}

.popup .popup-nav .section span {
  color: #7bde7b;
}


.popup .text-input {
  width: 300px;
  padding: 8px;
  outline: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popup  a.start-game-btn {
  color: #fff;
  padding: 8px;
  display: block;
  margin-top: 28px;
  width: fit-content;
  text-decoration: none;
  border: 1px solid #ffeb3b;
}

/* end of startup window popup  */


.playing-player-name {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-weight: 550;
  color: #b1003c
}

.playing-player-name .pp-name {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}





.slideup {
  animation: slide-up 1.4s ease;
}


@keyframes slide-up {
  0% {
      opacity: 0;
      font-size: 40px;
      color: coral;
      transform: translateY(90px);
  }
  100% {
      opacity: 1;
      color: black;
      transform: translateY(0);
  }
}